<div class="row">
	<div class="col-sm-9 col-md-9 col-lg-9 col-xl-9">
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. 
        Ut mattis metus lorem. Donec sit amet orci auctor libero mattis molestie a non lorem.
        Integer laoreet lorem magna, ut efficitur erat ornare ut. 
        Donec vestibulum orci vitae convallis tincidunt. 
        Integer sodales odio lorem, ullamcorper efficitur enim aliquam at. 
        Nunc accumsan magna odio, mattis convallis nunc suscipit ac. 
        Nullam sollicitudin, arcu nec posuere ultrices, 
        lacus magna finibus quam, ut interdum velit leo pellentesque arcu. 
        Donec a justo nec turpis porttitor pharetra vel nec orci. 
        Maecenas est erat, bibendum a dui ac, eleifend condimentum ante. 
        Proin sem magna, lacinia nec dui id, suscipit volutpat mauris. 
        Proin ut diam metus. Aenean interdum felis sed est sodales condimentum. 
        Fusce ultrices eget nisl vel vestibulum. Donec pulvinar varius nulla sed faucibus.
	</div>
	<div class="col-sm-3 col-md-3 col-lg-3 col-xl-3">
        <h3>Szybki kontakt</h3>
        <div>
            <i class="fa fa-facebook-official" aria-hidden="true"></i>                
            <a href="http://facebook.com" target="_blank">Facebook</a>
        </div>
        <div>
            <i class="fa fa-instagram" aria-hidden="true"></i>                
            <a href="http://instagram.com" target="_blank">Instagram</a>
        </div>
        <div>
            <i class="fa fa-envelope-open" aria-hidden="true"></i>                
            <a href="http://gmail.com" target="_blank">Email</a>
        </div>
	</div>
</div>
<div class="scroll" >
    <button class="btn btn-success" (click) = 'goToTop()'>
        <i class="fa fa-arrow-circle-up" aria-hidden="true"> Do góry</i>
    </button>
</div>
<footer class="footer">
    <p>Copyrights &copy; | Dawid Kwasny 2020</p>
</footer>
