<ul class="nav justify-content-center">
    <li class="nav-item">
      <a class="nav-link active" [routerLink]="['/']">Home</a>
    </li>
    <li class="nav-item">
      <a class="nav-link active" [routerLink]="['/blog']">Blog</a>
    </li>
    <li class="nav-item">
      <a class="nav-link active" [routerLink]="['/contact']">Kontakt</a>
    </li>
    <li class="nav-item">
      <button class="btn btn-primary" [routerLink]="['/login']" *ngIf="!authService.isUserLoggedIn()">Zaloguj</button>
    </li>
    <li class="nav-item">
      <button class="btn btn-primary" (click)="logOut()" *ngIf="authService.isUserLoggedIn()">Wyloguj</button>
    </li>
  </ul>