<div class="form">
    <fieldset class="field">
        <legend>Uzupełnij dane</legend>
        <div class="main-form">
            <div class="form-group">
                <label for="nameInput">Imię:</label>
                <input type="text" class="form-control" id="nameInput" placeholder="Podaj imię">
            </div>
            <div class="form-group">
                <label for="surnameInput">Nazwisko:</label>
                <input type="text" class="form-control" id="surnameInput" placeholder="Podaj nazwisko">
            </div>
            <div class="form-group">
                <label for="nameInput">E-mail:</label>
                <input type="text" class="form-control" id="emailInput" placeholder="Podaj email">
            </div>
            <div class="form-group">
                <label>Płeć:</label>
                <div class="radios">
                    <input class="inp" type="radio" name="gender" id="male" value="male" checked>
                    <label class="lab" for="male">Mężczyzna</label>
                    <input class="inp" type="radio" name="gender" id="female" value="female" unchecked>
                    <label class="lab" for="female">Kobieta</label>
                </div>
            </div>
            <div class="form-group">
                <label for="description">Opis</label>
                <textarea class="form-control" id="description" rows="4"></textarea>
            </div>
            <div class="form-group">
                <label for="age">Wiek:</label>
                <div class="form-group">
                    <input type="number" name="age" value="val" min=1>
                </div>                    
            </div>
            <div class="form-group">
                <label>Stan cywilny:</label>
                <label class="mr-sm-2 sr-only" for="inlineFormCustomSelect">Preference</label>
                <select class="custom-select mr-sm-2" id="inlineFormCustomSelect">
                    <option selected>Panna/Kawaler</option>
                    <option>Meżatka/Żonaty</option>
                </select>
            </div>
            <div class="buttons">
                <button type="reset" class="btn btn-primary">Wyczyść</button>
                <button type="submit" class="btn btn-primary">Wyślij</button>
            </div>
        </div>
    </fieldset>
</div>
<div class="scroll">
    <button class="btn btn-success" (click) = 'goToTop()'>
        <i class="fa fa-arrow-circle-up" aria-hidden="true"> Do góry</i>
    </button>
</div>
<footer class="footer">
    <p>Copyrights &copy; | Dawid Kwasny 2020</p>
</footer>